/*Page wide settings - start*/
BODY
{
	background:url(../images/Cropped-BGV2.jpg);
	font-size: 1em;
	line-height: 1.4;
	font-family: "Gill Sans", Calibri, Trebuchet, sans-serif;
	color: #3F3F3F;
}
/*Page wide settings - end*/
